input:focus {
    outline: none;
}
.m0{
	margin: 0 !important;
}
.p0{
	padding: 0;
}
.p4{
	padding: 0 4px !important;
}
.m-4{
	margin: 0 -4px !important;
}
.plr10{
	padding: 0 10px;
}
.pl15{
	padding-left: 0 15px;
}
.pl20{
	padding-left:20px;
}
.pl10{
	padding-left:10px;
}
.p5{
	padding: 0 5px !important;
}
.p10{
	padding: 0 10px !important;
}
.p20{
	padding: 0 20px !important;
}
.m-5{
	margin: 0 -5px !important;
}
.m-10{
	margin: 0 -10px !important;
}
.m-20{
	margin: 0 -20px !important;
}
.mr5{
	margin-right: 5px !important;
}
.mr10{
	margin-right: 10px !important;
}
.mr0{
	margin-right: 0px !important;
}
.ml0{
	margin-left: 0px !important;
}
.mr20{
	margin-right: 20px !important;
}
.mr8{
	margin-right: 8px !important;
}

.mb8{
	margin-bottom: 8px !important;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mb40{
	margin-bottom: 40px;
}
.mb50{
	margin-bottom: 50px;
}

.m-15{
	margin-left: -15px;
	margin-right: -15px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-100{
	margin-bottom: 100px;
}
.ml-10{
	margin-left: 10px;
}
.ml10{
	margin-left: 10px;
}
.pl15{
	padding-left: 15px;
}
.mt-5{
	margin-top: -5px !important;
}
.ml5{
    margin-left: 5px !important; 
}


.mt5{
	margin-top: 5px;
}
.mt6{
	margin-top: 6px;
}
.mt7{
    margin-top: 7px;
}
.mt8{
	margin-top: 8px;
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top: 15px;
}
.mt20{
	margin-top: 20px;
}

.mt-10{
	margin-top: 10px;
}
.p75{
	padding: 0 7.5px;
}
.pr0{
	padding-right: 0
}
.pl0{
	padding-left: 0;
}
.pt0{
	padding-top: 0;
}
.pb0{
	padding-bottom: 0;
}
.abu{
	color: #939598 !important;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px !important;
}
.f18{
	font-size: 14px;
}
.f36{
	font-size: 36px;
}

.f21{
	font-size: 18px;
}
.f11{
	font-size: 11px;
	font-family: cir-book;
}
.mousetrap {
  display: none !important;
}

.w75{
	width: 75px !important;
}
.w70{
	width: 70px !important;
}
.w90{
	width: 90px !important;
}
.w100{
	width: 100px !important;
}
.w150{
	width: 150px !important;
}
.w200{
    width: 200px !important;
    max-width: 200px !important;       
}
.w250{
    width: 250px !important;
    max-width: 250px !important;
}
.w500{
    width: 500px !important;
}
.hapus_varian {
    margin-top: -2px;
}
.counter-block .col-md-3{
    width: 200px !important;
    max-width: 200px !important;    
    margin-right: 0;
    padding-right: 0;
}
.satuanukurku {
    width: 30px;
    display: inline-block;
}
.h30{
    height: 30px !important;
    min-height: 30px !important;
}
.h24{
    height: 24px !important;
    min-height: 24px !important;
}
.h40{
    height: 40px !important;
    min-height: 40px !important;
}
.h50{
    height: 50px !important;
    min-height: 50px !important;
}
.h70{
    height: 70px !important;
    min-height: 70px !important;
}
.checkedku{
background: url(../../img/icon/ceklist.svg);
height: 30px;
width: 30px;
display: inline-table;
position: relative;
vertical-align: middle;
margin-right: 10px;
}

/* @charset "utf-8"; */

.cloud-zoom-lens {border: 4px solid #59b210; margin:0px;background-color:#fff;cursor:move;}

.cloud-zoom-title {font-family:cir-book, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}

.cloud-zoom-big {overflow:hidden;}

.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}
.zoom-section{width:100%;clear:both;}
*html .zoom-section{display:inline;clear:both;}
.zoom-desc{
	float: left;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.zoom-small-image{float:left;margin-bottom:20px; width: 100%;}
.zoom-tiny-image{border:1px solid #CCC;margin:0px;}
.zoom-tiny-image:hover{border:1px solid #C00;}
.zoom-small-image #wrap {
    z-index: 7 !important;
}
.zoom-small-image img{
	border-radius: 15px;
}
.detailkanan{
	width: 75%
}
.detailkanan ul{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #1D2129;
}
.detailkanan ul li{
	color: #1D2129;
    font-family: cir-book;
    font-size: 15px;
    margin-bottom: 5px;
}
.judulku{
	font-family: cir-book;
	font-weight: bold;
	font-size: 18px;

}
 h4 span {
    font-size: 14px;
    font-family: sanreg;
    text-transform: capitalize;
    margin-left: 5px;
    color: #939598;
}
.tambah{
	background-image: url('../../img/icon/sinertek-img2-icon-tambah-normal.svg');
	height: 27px;
	width: 27px;
	-moz-transition: background-image 0.4s ease;
	-webkit-transition: background-image 0.4s ease;
	display: inline-block;
	margin-right: 5px;
}
.kosong{
	background-image: url(../../img/icon/sinertek-img2-icon-aktifitas-kosong.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.update{
	background-image: url(../../img/icon/sinertek-img2-icon-update.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.masuk{
	background:#fff0  url(../../img/icon/sinertek-img2-icon-aktifitas-masuk.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border:none;
        background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.paket{
    background:#fff0  url(../../img/icon/ico-paket.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border:none;
        background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.keluar{
	background:#fff0 url(../../img/icon/sinertek-img2-icon-aktifitas-keluar.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border:none;
        background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.warning{
    background-image: url(../../img/icon/sinertek-img2-icon-warning-orange.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    padding: 0px 11px;
    height: 24px;
    width: 24px;
    border-radius: 30px;
}
.simpan{
    background-image: url(../../img/icon/sinertek-icon-002-tombol-save-normal.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-position: center;
    padding: 0px;
    height: 30px;
    width: 30px;
    border-radius: 40px;
}
.simpan:hover{
	background:#E6E7E8  url(../../img/icon/sinertek-icon-002-tombol-save-normal.svg);
    background-position: center;
}
.simpanaktif{
    background: #539E51 url(../../img/icon/sinertek-icon-002-tombol-save-putih.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-position: center;
    padding: 0px;
    height: 30px;
    width: 30px;
    border-radius: 40px;
}
.simpanaktif:hover{
	background:#E6E7E8  url(../../img/icon/sinertek-icon-002-tombol-save-putih.svg);
    background-position: center;
}

.delete{
    background-image: url(../../img/icon/delete.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-position: center;
    padding: 0px;
    height: 30px;
    width: 30px;
    border-radius: 40px;
}
.delete:hover{
	background:#E6E7E8  url(../../img/icon/delete.svg);
    background-position: center;
}


.segitigaku{
    background: #ffffff url(../../img/icon/sn0016-icon-garbage.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-position: center;
    padding: 0px;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    opacity: 1 !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
}
.close{
    background: #ffffff url(../../img/icon/sn0016-icon-garbage.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-position: center;
    padding: 0px;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    opacity: 1 !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
}
.close:hover{
	background:#E6E7E8  url(../../img/icon/sn0016-icon-garbage.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.update:hover{
	background-image: url('../../img/icon/sinertek-img2-icon-update.svg');
	height: 30px;
	width: 30px;
	transition: background-image 0.5s ease;
	-webkit-transition: background-image 0.2s ease;
	display: inline-block;
}
.tambah:hover{
	background-image: url('../../img/icon/sinertek-img2-icon-tambah-hover.svg');
	height: 27px;
	width: 27px;
	transition: background-image 0.5s ease;
	-webkit-transition: background-image 0.2s ease;
	display: inline-block;
}
.masuk:hover{
	background:#d2d2d2 url(../../img/icon/sinertek-img2-icon-aktifitas-masuk.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.paket:hover{
    background:#d2d2d2 url(../../img/icon/ico-paket.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.keluar:hover{
	background:#d2d2d2 url(../../img/icon/sinertek-img2-icon-aktifitas-keluar.svg);
    -moz-transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    display: inline-block;
    background-size: cover;
    padding: 0px 11px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.iconwarning{
	width: 30px;
	height: 30px;
	background:#e9e9e9 url(../../img/icon/sinertek-img2-icon-warning.svg);
	    background-size: auto auto;
	display: block;
	border-radius: 36px;
	background-size: cover;
}
.iconwarning:hover{
	background:#d2d2d2 url(../../img/icon/sinertek-img2-icon-warning.svg);
}
.icondownload{
	width: 30px;
	height: 30px;
	background: url(../../img/garnis/sn0006-icon-save-to-document.svg);
	    background-size: auto auto;
	display: block;
    border-radius: 36px;    
    background-repeat: no-repeat;
    background-position: center;
}
.icondownload:hover{
	background:#d2d2d2 url(../../img/garnis/sn0006-icon-save-to-document.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.iconchange{
width: 30px;
    height: 30px;
    background: #fff0 url(../../img/garnis/sn0012-icon-opname.svg);
    background-size: auto auto;
    display: block;
    border-radius: 36px;
    background-size: cover;
    border: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.iconchange:hover{
	background:#d2d2d2 url(../../img/garnis/sn0012-icon-opname.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.table-responsive.text-no-wrap tr td{
    background: #fff;
    font-size: 14px;
    height: 44px;
    font-family: cir-book;
    vertical-align: middle;
    text-transform: capitalize;
}
.table-responsive.text-no-wrap tr:hover td{
    background: #FFFDE9;
}
.btn-yasir {
    border-radius: 3px;
    text-align: left;
    color: #231F20;
    padding: 3.6px 10px 3px 10px;
    font-size: 12px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    font-size: 12px;
    width: 100%;
    max-height: 24px;
    min-height: 24px;
    font-size: 13px;
    font-family: cir-book;
    border: 1px solid #BCBEC0;
    font-weight: normal;
}
.btn-batal {
    border: 1px solid #939598;
    background: -moz-linear-gradient(top, #ffffff 0%, #e7e8e9 100%);
    border-radius: 30px;
    text-align: center;
    color: #1d2129;
    padding: 4px 15px 4px 15px;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-submit {
    border: 1px solid #939598;
    background: -moz-linear-gradient(top, #2bc302 0%, #229a3e 100%);
    border-radius: 30px;
    text-align: center;
    color: #fff;
    padding: 4px 15px 4px 15px;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-batch {
	background: #018ABE;
	border-radius: 10px;
	text-align: left;
	color: #fff;
	padding: 11px 29px 11px 15px;
	font-size: 15px;
	text-transform: capitalize;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	display: inline-block;
}
.btn-yasir:hover{
	position: initial;
}
.btn-yasir:focus{
	box-shadow: none;
}
.select-yasir .btn-yasir{
	/* margin-top: -3px; */
}


.select-yasir{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 130px;
}
.select-yasir select{
    height: 24px;
    min-height: 24px;
    font-size: 14px;
    font-family: cir-book;
}
.select-yasir select.h40 {
    padding: 11px 10px;
    width: 230px;
}
.select-yasir.h40 {
    width: 230px;
}
.select-yasir::after {
    top: 0px;
    pointer-events: none;
    font-size: 19px;
    background: url(../../img/garnis/sn0004-icon-drop-menu.svg) no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    right: 0px;
    position: absolute;
    display: inline-block;
    background-position: center;
}
.select-yasir.h40::after {
    top: 0px;
    pointer-events: none;
    font-size: 19px;
    background: url(../../img/garnis/sn0004-icon-drop-menu.svg) no-repeat;
    content: "";
    width: 40px;
    height: 40px;
    right: 0px;
    position: absolute;
    display: inline-block;
    background-position: center;
}

.select-yasira{
	position: relative;
	display: inline-flex;
	margin-right: 5px;
	width: 190px;
	color: #939598;
	margin-left: 0 !important;
}
.select-yasira::after {
    top: 0px;
    pointer-events: none;
    font-size: 19px;
    background: url(../../img/garnis/sn0004-icon-drop-menu.svg) no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    right: 0px;
    position: absolute;
    display: inline-block;
    background-position: center;
}

.notif{
	margin: 0 5px;
}
.table-responsive th{
    border-bottom: none;
    color: #231F20;
    text-transform: capitalize;
    font-size: 14px;
    font-family: cir-book;
    font-weight: normal;
}
/*.table-responsive tr:hover td {
    background: #386FBC;
    color: #fff !important;
}*/
.table-responsive td,.table-responsive th{
	padding: 4.5px 10px !important;
    border-bottom: 5px solid #f7f7f7 !important;
	height: 44px;
	font-family: cir-book;
}
#asliku td {
    padding: 4.5px 10px !IMPORTANT;
}
#tempat td {
    padding: 4.5px 10px !IMPORTANT;
}
#asliku td:first-child {
    padding: 4.5px 10px !IMPORTANT;
}
#tempat tr:first-child .hapus_varian {
    display: none;
}
div#dataTable1_info {
    font-family: cir-book;
    float: left;
        display: none;
}
.table-responsive td{
	color: #404040;
}
.table-responsive tr td:first-child {
    border-radius: 5px 0 0 5px;
}
.table-responsive tr td:last-child {
    border-radius: 0px 5px 5px 0px;
}
.table-responsive tr td {
}
/* .table-responsive tr:hover td {
    background: #386FBC;
    color: #fff !important;
} */
/* .table-responsive tr:hover td span{
    background: #386FBC;
    color: #fff !important;
} */

/* .table-responsive tr:hover td input{
    border-color:#ffffff;
    color:#ffffff;
} */

.table-responsive tr:hover .custom-checkbox .custom-control-indicator{
    background: #e9e9e8;
}
.table-responsive tr:hover .custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-image: url(../../img/icon/cek.svg);
    margin-top: 4px;
    background-color: #007bff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.dashboard-icon{
	width: 30px;
	height: 30px;
	background: url('../../img/icon/dashboard-icon.svg');
	display: block;
	border-radius: 7px;
	margin-top: -1px;
}
.iconx{
    width: 11px;
	height: 11px;
	background: url('../../img/icon/sn0011-icon-cross-red.svg');
	display: block;
    margin-top: 2px;
    float: right;
    margin-left: 20px;
}
.produk-icon{
	width: 30px;
	height: 30px;
	background: url('../../img/icon/produk-icon.svg');
	display: block;
	border-radius: 7px;
	margin-top: -1px;
}
.iconcari{
    width: 24px;
    height: 24px;
    background: url(../../img/garnis/sn0003-icon-search.svg);
    display: block;
    border-radius: 7px;
    margin-top: -2px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.menukekiri{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-sparated-left-off.svg');
	display: block;
	border-radius: 7px;
	margin-top: 1px;
}
.menukekiri:hover{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-sparated-left-on.svg');
	display: block;
	border-radius: 7px;
}
.menukekanan{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-sparated-right-off.svg');
	display: block;
	border-radius: 7px;
	margin-top: 1px;
}
.menukekanan:hover{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-sparated-right-on.svg');
	display: block;
	border-radius: 7px;
}

.log-login{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-aktifitas-logindanlogout.svg');
	display: block;
	border-radius: 7px;
}
.log-tambah{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-aktifitas-tambah.svg');
	display: block;
	border-radius: 7px;
}
.log-masuk{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-aktifitas-masuk.svg');
	display: block;
	border-radius: 7px;
}
.log-keluar{
	width: 27px;
	height: 27px;
	background: url('../../img/icon/sinertek-img2-icon-aktifitas-keluar.svg');
	display: block;
	border-radius: 7px;
}

.detail-footer{
    left: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.ulindi{
	padding: 0;
	margin: 0;
}
.ulindi li{
	display: inline-block;
	margin-right: 10px;
}
.indi{
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 5px;
	margin-right: 5px;
}
.hitam{
	background: #213356;
}
.dark{
	background: #404040;
}
.hijau{
	background: #539E51;
}
.merah{
	background: #D8485D;
}
.orange{
	background: #EDA71B;
}
.ungu{
	background: #92278f;
}
.biru{
	background: #386FBC;
}
.coklat{
	background: #c2b59b;
}
.kuning{
	background: #ffde17;
}
.putih{
	background: #fff;
}

.bor-merah{
	border-color: #D8485D !important;
}
.bor-non{
	border-color: #fff !important;
}
.bor-abu{
	border-color: #93959836 !important;
}
.bor-hijau{
	border-color: #539E51 !important;
}
.f13{
	font-size: 13px !important;
	font-family: cir-book;
}
.f-hitam{
	color: #000 !important;
}
.f-hijau{
	color: #539E51 !important;
}
.f-merah{
	color: #D8485D !important;
}
.f-orange{
	color: #f7941e !important;
}
.f-ungu{
	color: #92278f !important;
}
.f-biru{
	color: #27aae1 !important;
}
.f-coklat{
	color: #c2b59b !important;
}
.f-kuning{
	color: #ffde17 !important;
}
.f-dark{
	color: #404040 !important;
}
.f-abupudar{
	color: #D1D3D4 !important;
}
.bold{
	font-weight: bold;
	font-family: cir-bold;
}
.table th{
	border-top: none;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #231F20;
}
.tableku th {
    font-family: cir-book;
    font-size: 13px;
    font-weight: 500;
    color: #939598;
    vertical-align: middle;
}
.clickable{
	cursor: pointer;
}
.tableku td {
    font-family: cir-book;
    font-size: 15px;
    font-weight: normal;
    background: #f7f7f7 !important;
	border-bottom: 5px solid #ffffff !important;
    border-top: none;
    max-height: 47px;
    padding: 10px !important;
}
.tableku td:first-child {
    border-radius: 8px 0 0 8px;
}
.tableku td:last-child {
    border-radius: 0px 8px 8px 0px;
}
.tableku tr:hover td{
	/* background: #386FBC !important;
    color: #fff !important; */
}
table.dataTable thead .sorting_asc {
    background-image: url("../../img/icon/sinertek-img2-icon-sparated-bottom-off.png");
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap;
}
table.dataTable thead .sorting_asc {
    background-image: url("../../img/icon/sinertek-img2-icon-sparated-top-off.png");
    color: #1D2129;
}
table.dataTable thead .sorting_desc {
    background-image: url("../../img/icon/sinertek-img2-icon-sparated-bottom-off.png");
}
table.dataTable thead .sorting {
    background-image: url("../../img/icon/sinertek-img2-icon-sparated-topdown.png");
}

    .onoffswitch {
        position: relative; width: 27px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        height: 8px;
        border-radius: 36px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 8px; padding: 0; line-height: 8px;
        font-size: 16px; color: white; font-family: Trebuchet, cir-book, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "";
        padding-left: 10px;
        background-color: #D1D3D4; color: #00AEEF;
    }
    .onoffswitch-inner:after {
        content: "";
        padding-right: 10px;
        background-color: #D1D3D4; color: #D1D3D4;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 16px; margin: -4px;
        background: #A1A1A1;
        position: absolute; top: 0; bottom: 0;
        right: 22px;
        border-radius: 36px;
        transition: all 0.3s ease-in 0s;
        height: 16px;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
        background-color: #27A1CA;
        height: 16px;
    }
    .msk {
	    margin-top: 10px;
	}
	.onoffswitch span{
		margin-left: 0px !important;
	}



.counter-block h3{
	font-family: cir-bold;
	text-transform: uppercase;
	font-size: 24px;
}
.counter-block h4{
	font-family: cir-book;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
}
.counter-block .judul{
    font-family: cir-bold;
    font-size: 14px;
    color: #231F20;
    height: 24px;
    vertical-align: middle;
    display: table-cell;
}
.counter-block span.judul{
    font-family: cir-book;
    font-size: 14px;
    color: #404040;
    height: auto;
    display: inline-block;
    padding-left: 10px;
}
.cari{
    border-radius: 3px;
    padding: 1px 10px;
    display: inline-block;
    height: 24px;
    background: #ffffff;
    width: 160px;
    border: 1px solid #BCBEC0;
}
.cari i{
    margin-left: 0px;
    margin-right: -11px;
    float: right;
}
.cari input{
    border: none;
    width: 118px;
    height: 21px;
    font-family: cir-book;
    color: #939598;
    background: #ffffff;
}
.linkiconplus{
    height: 30px;
    background: #E9E9E9 url(../../img/icon/sinertek-img2-icon-aktifitas-tambah.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
}
.linkicondel{
    height: 30px;
    background: #E9E9E9 url(../../img/icon/sinertek-icon-002-tombol-cross-normal.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    border-radius: 30px;
    margin-left: 10px;
}
.iconplus{
    width: 30px;
    height: 30px;
    background: url(../../img/garnis/sn0007-icon-add.svg);
    display: block;
    border-radius: 36px;
    background-repeat: no-repeat;
    background-position: center;
}
.iconplus:hover{
	background: #d2d2d2 url(../../img/garnis/sn0007-icon-add.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.ysku{
	width: 50px !important;
}
.breadcrumb h4{
	margin-top: 6px;
	font-size: 18px;
}
.page-item:first-child .page-link{
	margin-left: 0;
    padding: 5px 10px;
}
.page-item:last-child .page-link {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    padding: 5px 10px;
}

.judul span {
    border: 1px solid #939598;
    font-size: 11px;
    padding: 3px;
    border-radius: 5px;
    margin-left: 5px;
}
.inp-image.abu {
    display: inline-block;
}
.inp-image.abu img{
    width: 100%;
    border-radius: 3px;
    padding: 0px;
    background: #fff;
}

.inp-text input:disabled, .inp-text select:disabled {
    cursor: not-allowed !important;
    background: #f5f6f6;
    border-color: #e6e6e6;
    color: #9e9e9e !important;
    opacity: 1;
}
.inp-text input{
    border: 1px solid #BCBEC0;
    font-size: 14px;
    min-height: 24px;
    width: 390px;
    font-family: cir-book;
    font-weight: normal;
}
.inp-text input::placeholder{
	color: #b5b5b5;
}
.inp-text input:focus{
	border-color: #00AEEF
}
.inp-text span{
	margin-left: 5px;
	font-size: 12px;
}
.inp-text .besar{
	width: 390px;
}
.inp-text .sedang{
	width: 190px;
}
.inp-text .kecil{
	width: 90px;
}
.tglicon{
	width: 190px;
	position: relative;
}
.tglicon:after{
    top: -3px;
    pointer-events: none;
    font-size: 19px;
    background: url(../../img/icon/sinertek-img2-icon-tanggal.svg) no-repeat;
    content: "";
    width: 24px;
    height: 24px;
    right: 5px;
    position: absolute;
    display: inline-block;
    margin-left: 0 !important;
}
.inp-submit span{
	margin-left: 5px;
	font-size: 12px;
}

.inp-text select{
    font-size: 14px;
    min-height: 24px;
    width: 100%;
    font-family: cir-book;
    background: #ffffff !important;
    font-weight: 500;
    border: 1px solid #BCBEC0;
}
.inp-text select:focus{
	border-color: #00AEEF
}
.inp-text textarea{
	border: 1px solid #BCBEC0;
    font-size: 13px;
    min-height: 36px;
    width: 500px;
    max-width: 500px;
    height: 90px;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    font-family: cir-book;
}
.inp-text textarea:focus{
	border-color: #00AEEF
}
.inp-switch {
    display: inline-flex;
    margin-left: 20px;
}
.radio-klien{
	height: 36px;width: 200px;vertical-align: middle;padding: 0px 0 20px;margin-bottom: 5px;
}





.tabku section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tabku input {
  display: none;
}

.tabku label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  font-family: cir-book;
}

.tabku label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}



.tabku label:hover {
  color: #888;
  cursor: pointer;
}

.tabku input:checked + label {
  color: #555;
  border-bottom: 5px solid #2BC400;
}

.tabku #tab1:checked ~ #content1,
.tabku #tab2:checked ~ #content2,
.tabku #tab3:checked ~ #content3,
.tabku #tab4:checked ~ #content4 {
  display: block;
}


.fileinput-preview{
    width: 100px;
    height: 100px;
    background: url(../../img/icon/imgku.png);
    background-size: cover;
    line-height: unset !important;
    display: flex;
    margin-bottom: 20px;
}
.fileinput-preview img{
    width: 100px;
}
.fileinput-new label{
    margin-bottom: 0;
}
.hapusku {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.hapus_gambar {
    position: absolute;
    top: -15px;
    right: -15px;
    margin: 0;
}
.hapus_gambar:hover {
    position: absolute;
    top: -15px;
    right: -15px;
    margin: 0;
}
.hapusku_gambar {
    position: absolute;
    top: -30px;
    right: -15px;
    margin: 0;
}
.hapusku_gambar:hover {
    position: absolute;
    top: -30px;
    right: -15px;
    margin: 0;
}
.menu_gambar {
    display: flex;
}






.cloud-zoom-lens {border: 4px solid #ccc; margin:0px;background-color:#fff;cursor:move;}

.cloud-zoom-title {font-family:cir-book, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}

.cloud-zoom-big {overflow:hidden; margin-top: 5px;}
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}
.zoom-section{clear:both;}
.zoom-section img{
    border-radius: 5px;
    margin-bottom: 10px
}
.zoom-desc a{
    margin-right: 10px;
}
*html .zoom-section{display:inline;clear:both;}
.zoom-desc{float:left;width:225px;margin-bottom:20px;}
.zoom-small-image{float:left;margin-bottom:15px;}
.zoom-tiny-image{border:1px solid #CCC;margin:0px;}
.zoom-tiny-image:hover{border:1px solid #C00;}



ul.menu-atas {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;     
    padding-top: 5px;                              
}
ul.menu-atas li{
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    color: #fff;
    font-family: cir-book;
}
ul.menu-atas li:first-child{
    color: #39B54A;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 8px; 
}
ul.menu-atas li a{
    font-size: 14px;
    color: #fff;
    font-family: cir-book;
    text-transform: capitalize;
}
.menu-atas li a:hover, .menu-atas li a.aktif{
    color: #FFDE17;
}
.counter-block .satuan{
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 15px 0 0;
    text-transform: capitalize;
    font-family: cir-book;
}
.counter-block .value {
    color: #fff;
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    font-family: cir-book;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.counter-block .btn-submit {
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    padding: 7px 15px 4px 15px;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 20px;
}
.counter-block .label{
    font-size: 18px;
}

.titikhijau {
    height: 10px;
    width: 10px;
    background: #39B54A;
    display: inline-block;
    float: right;
    border-radius: 7px;
}
.titikmerah {
    height: 10px;
    width: 10px;
    background: #ED1C24;
    display: inline-block;
    float: right;
    border-radius: 7px;
}